@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Welat BARAN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/validation-summary-errors.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand me-5" asp-controller="Admin" asp-action="Index">Welat BARAN - ADMIN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ml-3">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-action="Index" asp-controller="Admin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-brands fa-servicestack me-2"></i>Categories
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-action="Index" asp-controller="Category" class="dropdown-item"><i class="fa-solid fa-th-list me-2"></i>List Category</a></li>
                                    <li><a asp-action="Create" asp-controller="Category" class="dropdown-item"><i class="fa-solid fa-plus me-2"></i>Add Category</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-action="Index" asp-controller="Admin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-diagram-project me-2"></i>Projects
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-action="Index" asp-controller="Project" class="dropdown-item"><i class="fa-solid fa-th-list me-2"></i>List Project</a></li>
                                    <li><a asp-action="Create" asp-controller="Project" class="dropdown-item"><i class="fa-solid fa-plus me-2"></i>Add Project</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-action="Index" asp-controller="Admin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-brands fa-stack-overflow me-2"></i>Experiences
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-action="Index" asp-controller="Experience" class="dropdown-item"><i class="fa-solid fa-th-list me-2"></i>List Experience</a></li>
                                    <li><a asp-action="Create" asp-controller="Experience" class="dropdown-item"><i class="fa-solid fa-plus me-2"></i>Add Experience</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-action="Index" asp-controller="Admin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-address-book me-2"></i>Contact
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-action="Edit" asp-controller="Contact" class="dropdown-item"><i class="fa-solid fa-id-card-clip me-2"></i>Show Contact</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown ms-auto">
                                <a class="nav-link dropdown-toggle" asp-action="ShowProfile" asp-controller="Admin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/uploads/User/@User.FindFirstValue(ClaimTypes.Actor)" alt="" width=36 class="img-thumbnail rounded-circle" />@User.FindFirst("Username").Value
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-action="ShowProfile" asp-controller="Admin" class="dropdown-item"><i class="fa-solid fa-user me-2"></i>Show Profile</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            All rights is reserved &copy; @DateTime.Now.Year - <strong>WBSoftware</strong>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
