@model ForgotPasswordDto
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <p class="small text-center">
            Please, you are enter valid a email recorded in the system
        </p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="xyz@gmail.com" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>

            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary d-block"><i class="fa-solid fa-paper-plane me-2"></i>Send</button> <br />
                <a asp-action="Login" class="btn btn-secondary d-block">
                    <i class="fa-solid fa-right-to-bracket me-2"></i>Back to Login Page
                </a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
    @if (TempData["result"] != null && TempData["result"] == "User not found")
    {
        <script>
            toastr["error"]("Please, you are enter valid a email recorded in the system", "User not found")
        </script>
    }
    else
    {
        <script>
            toastr["success"]("@TempData["result"]", "Success")
        </script>
    }
}

